{
  "openapi": "3.1.0",
  "info": {
    "title": "Checkout API",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://sandbox.uddoktapay.com/api"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/checkout": {
      "post": {
        "summary": "Create Charge API V1",
        "description": "",
        "operationId": "create-charge-api-v1",
        "parameters": [
          {
            "name": "RT-UDDOKTAPAY-API-KEY",
            "in": "header",
            "description": "API KEY",
            "required": true,
            "schema": {
              "type": "string",
              "default": "982d381360a69d419689740d9f2e26ce36fb7a50"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "full_name",
                  "email",
                  "amount",
                  "metadata",
                  "redirect_url",
                  "cancel_url",
                  "webhook_url"
                ],
                "properties": {
                  "full_name": {
                    "type": "string",
                    "description": "Full Name"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount"
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Metadata. You can pass data according to your project. Eg: { \"order_id\": \"10\", \"product_id\": \"5\"}",
                    "format": "json"
                  },
                  "redirect_url": {
                    "type": "string",
                    "description": "Redirect URL (User will redirect to this page after payment success)"
                  },
                  "cancel_url": {
                    "type": "string",
                    "description": "Cancel URL (User will redirect to this page when user will click on cancel button)"
                  },
                  "webhook_url": {
                    "type": "string",
                    "description": "Your Response URL (We will send payment success response to this url)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/checkout-v2": {
      "post": {
        "summary": "Create Charge",
        "description": "",
        "operationId": "create-charge",
        "parameters": [
          {
            "name": "RT-UDDOKTAPAY-API-KEY",
            "in": "header",
            "description": "API KEY",
            "required": true,
            "schema": {
              "type": "string",
              "default": "982d381360a69d419689740d9f2e26ce36fb7a50"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "full_name",
                  "email",
                  "amount",
                  "metadata",
                  "redirect_url",
                  "return_type",
                  "cancel_url"
                ],
                "properties": {
                  "full_name": {
                    "type": "string",
                    "description": "User's full name."
                  },
                  "email": {
                    "type": "string",
                    "description": "User's email address."
                  },
                  "amount": {
                    "type": "string",
                    "description": "The payment amount."
                  },
                  "metadata": {
                    "type": "string",
                    "description": "Additional project-specific data in JSON format. For example: { \"order_id\": \"10\", \"product_id\": \"5\"}",
                    "format": "json"
                  },
                  "redirect_url": {
                    "type": "string",
                    "description": "The URL where the user will be redirected after a successful payment. Additionally, an `invoice_id` will be sent via POST data, which you must validate using the Verify Payment API."
                  },
                  "return_type": {
                    "type": "string",
                    "description": "Specifies how the `invoice_id` is returned to the success page. It can be either \"GET\" or \"POST.\""
                  },
                  "cancel_url": {
                    "type": "string",
                    "description": "The URL where the user will be redirected when they click the cancel button during the payment process."
                  },
                  "webhook_url": {
                    "type": "string",
                    "description": "A backend response URL where payment information is sent when an admin initiates a \"SEND WEBHOOK REQUEST\" from the admin panel."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": []
  },
  "x-readme-fauxas": true
}